.div_form{
    width:100%;
    height:70vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.25);
    border-radius: 15px;
    margin-top: 30px;
}

.input_div{
    padding: 5px;
}

.heading_input{
    padding:5px;
    text-align: left;
    padding-left: 20px;
}

.heading_input input{
    border:none;
    border-bottom:3px solid aqua;
    font-size: 1.5rem;
    outline: none;
    margin-top: 5%;
    background:transparent;
}

.list_input {
    padding:5px;
    text-align: left;
    padding-left: 20px;
}

.list_input textarea{
    border:none;
    border-bottom:3px solid aqua;
    font-size: 1.5rem;
    outline: none;
    margin-top: 8%;
    background:transparent;
    width:90%; 
}

.button_div{
    padding:10px;
    text-align: right;
    margin-right: 7.5%;
}

.button_div button{
    font-size: 1.5rem;
    padding:1%;
    width: 80px;
    background-color: aqua;
    border:2px solid rgb(43, 41, 41);
    border-radius: 5px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.74);
    cursor: pointer;
}

.button_div button:hover{
    background-color: rgb(115, 115, 238);
    color:white;
}